{% extends "base.html" %}
{% block content %}
<h1>nyuuuspace is a social network, except there are no words, just hugs.</h1>
<h4>Sometimes you just want to give someone a virtual hug. Or you need a space that makes you feel safe. This is what nyuuuspace is for.</h4>
<h3>Join nyuuuspace today!</h3>
<a href="{% url "global_feed" %}">Want to see what awaits inside first?</a>
<div style="padding: 2rem" />
<p>This site is part of the web ring like it's 90s:</p>
<table border="0" cellpadding="2" cellspacing="0" style="border:2px solid #8258AC;margin:0px auto;font:normal 12px Hack,Menlo,Monaco,"Courier New",Courier,monospace;background:#7446a2 none;color:#ffffff;">
  <thead>
    <tr>
      <th style="color:#ffffff;text-align:left;font-size:15px;background:#532a7d none;">Cuties Online</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td style="text-align:center;background-color:#7446A2;">
        <a href="http://cuties.online/?Go&amp;Prev&amp;23" style="color:#eeeeee;" target="_top">Previous</a> | <a href="http://cuties.online/" style="color:#eeeeee;" target="_top">Home</a> | <a href="http://cuties.online/?Join" style="color:#eeeeee;" target="_top">Join</a> | <a href="http://cuties.online/?Go&amp;Rand&amp;23" style="color:#eeeeee;" target="_top">Random</a> | <a href="http://cuties.online/?Go&amp;Next&amp;23" style="color:#eeeeee;" target="_top">Next</a>
      </td>
    </tr>
  </tbody>
</table>
<div style="padding: 2rem" />
{% endblock content %}
